
<div id="wrapper">
    
    <main>
        <h1><%- title %></h1>

        <% if (messages) { %>
            <% if (typeof messages === 'object' && Object.keys(messages).length > 0) { %>
                <div class="notice">
                    <% Object.values(messages).forEach(message => { %>
                        <p><%= message %></p>
                    <% }) %>
                </div>
            <% } else if (typeof messages === 'string' && messages.length > 0) { %>
                <div class="notice">
                    <p><%= messages %></p>
                </div>
            <% } %>
        <% } %>

        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>

        <% if (locals.accountData) { %>
            <h2>Welcome <%= locals.accountData.account_firstname %></h2>
            
            <p><a href="/account/update/<%= locals.accountData.account_id %>">Update Account Information</a></p>
            
            <% if (locals.accountData.account_type === "Employee" || locals.accountData.account_type === "Admin") { %>
                <h3>Inventory Management</h3>
                <p><a href="/inv/">Manage Inventory</a></p>
            <% } %>
        <% } else { %>
            <p>You are not logged in. <a href="/account/login">Login</a></p>
        <% } %>
    </main>

    <%- include('../partials/footer') %>
</div>